name: tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  pylama:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup uv
        uses: astral-sh/setup-uv@v4
        with:
          python-version: "3.12"
      - run: uv sync
      - run: uv run pylama
        env:
          FORCE_COLOR: 1
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup uv
        uses: astral-sh/setup-uv@v4
        with:
          python-version: "3.12"
      - run: uv sync
      - run: uv run mypy
        env:
          FORCE_COLOR: 1
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup uv
        uses: astral-sh/setup-uv@v4
        with:
          python-version: "3.12"
      - run: uv sync
      - run: uv run pytest -svv README.md
        env:
          FORCE_COLOR: 1

  tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

      matrix:
        python:
          - '3.9'
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'
    steps:
      - uses: actions/checkout@v4
      - name: Setup uv with python${{ matrix.python }}
        uses: astral-sh/setup-uv@v4
        with:
          python-version: "${{ matrix.python }}"
      - run: uv sync
      - run: >-
          uv run pytest \
            -vv \
            --cov=argclass \
            --cov-report=term-missing \
            --doctest-modules \
            tests
        env:
          FORCE_COLOR: 1
      - run: uv run coveralls
        env:
          COVERALLS_PARALLEL: 'true'
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  finish:
    needs:
       - tests
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.github_token }}
          parallel-finished: true
